<mat-spinner *ngIf="loading" id="spinner"></mat-spinner>
<div *ngIf="!loading">
  <mat-list>
      <mat-list-item *ngFor="let question of questions" [routerLink]="['questions',question._id]">
        <i mat-list-icon *ngIf="question.icon === 'none'" class="material-icons" id="help">help</i>
        <i mat-list-icon *ngIf="question.icon !== 'none'" class="{{question.icon}}"></i>

        <h3 mat-line>{{question.title}}</h3>
        <p mat-line> <small>{{question.answers.length}} respuestas - {{ question.createdAt |amLocale: 'es' | amTimeAgo}}</small> </p>

      </mat-list-item>
  </mat-list>
  <button mat-fab color="primary" class="add-question" [routerLink]="['questions/new']">+</button>
</div>